{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="card-header d-flex align-items-center card-header-no-bg">
                    <div class="card-title h6 fw-bold text-uppercase border-start border-primary border-3 ps-2 mb-3">
                        Список читателей с книгами на руках
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap mb-0">
                            <thead class="text-center">
                                <tr>
                                    <th>Имя пользователя</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Адрес</th>
                                    <th>Название</th>
                                    <th>Дата получения</th>
                                    <th>Дней</th>
                                </tr>
                            </thead>
                            <tbody class="text-center resutl_table">
                            {% for borrow in debtor_books %}
                                <tr class="align-middle">
                                    <td>{{ borrow.reader.username }}</td>
                                    <td>{{ borrow.reader.first_name }}</td>
                                    <td>{{ borrow.reader.last_name }}</td>
                                    <td>{{ borrow.reader.address }}</td>
                                    <td>{{ borrow.book.title }}</td>
                                    <td>{{ borrow.borrow_date }}</td>
                                    <td>{{ borrow.borrow_date|storage_days }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}